.chessboard{
    border:10px solid black;
    height:640px;
    width:640px;
    
}
.black{
    background-color: black;
    height: 80px;
    width: 80px;
    float:left;
}
.white{
    background-color:white;
    height: 80px;
    width: 80px;
    float:left;
}